body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: "Nunito Sans", Arial, sans-serif;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1258px;
  margin: 0 auto;
}

.button {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  color: #FFFFFF;
  text-transform: uppercase;
}

.header {
  background-color: #131313;
  flex-grow: 0;
}

.header-content {
  font-size: 11px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 83px;
  text-transform: uppercase;
}

.header-navigation {
  list-style: none;
  display: flex;
}

.header-navigation__item {
  margin-right: 47px;
}

.header-navigation__link {
  text-decoration: none;
  color: #FFFFFF;
}

.header-content__button {
  width: 161px;
  height: 37px;
}

.main {
  flex-grow: 1;
}

.rostov-section {
  background-image: url("../images/imageland2.jpg");
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}

.rostov-overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}

.rostov-content {
  position: relative;
  z-index: 1;
  max-width: 1172px;
}

.title {
  margin: 0;
  font-family: 'Yeseva One', 'Times New Roman', serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.rostov-text {
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.rostov-content__button {
  width: 207px;
  height: 51px;
  margin-right: 20px;
}

.gold-color {
  color:#E3B873;
}

.footer {
  flex-grow: 0;
}